apdev-flights-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api1="http://www.mulesoft.org/schema/mule/american-flights-api1"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api1 http://www.mulesoft.org/schema/mule/american-flights-api1/current/mule-american-flights-api1.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAmericanFlights" doc:id="84de7355-9ec0-4e52-81b6-618f745eb852" >
		<http:listener doc:name="GET /american" doc:id="98262d06-794a-49c4-9333-9d8974c31863" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="37b2b457-2af8-4b0e-84a4-44252c9c6d69" name="setCode"/>
		<american-flights-api1:get-flights doc:name="Get flights" doc:id="613e912a-0d45-4c49-8f8b-f5bc5dacd332" config-ref="American_Flights_API1_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="7f1fec6e-7fcd-469a-bc66-c29df8a8f1ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f95a877a-b533-4a4f-a24e-24318f4d2aad" />
	</flow>
	<sub-flow name="setCode" doc:id="b1d81eb1-b48b-4922-a975-5aa13ebf01f5" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="d997d2d5-03c9-4df8-9575-8232fa341955" variableName="code"/>
	</sub-flow>
	<flow name="getUnitedFlights" doc:id="a43e94d4-8e2a-452f-b9ca-6f73a4c6eee2" >
		<http:listener doc:name="GET /united" doc:id="24f8408c-a3e4-49f4-aef8-8c25d616d742" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="355d93a4-7863-4673-ba76-365678d58a37" name="setCode"/>
		<http:request method="GET" doc:name="Request" doc:id="6a74dc2c-815a-491a-be66-4be7a4f3ce54" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="57f7af34-4c53-40a3-8d6e-125b0ac20a28" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="563b9950-120e-4f1b-a933-4a602287de3e" />
	</flow>
	<flow name="getDeltaFlights" doc:id="7213e53c-316b-4e17-bbf7-852ec5c30f20" >
		<http:listener doc:name="GET /delta" doc:id="2542832a-9f2a-42f5-8144-35d8c2095016" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="8a0a118e-9e18-4a59-9564-a7f9abf6bd03" name="setCode"/>
		<ee:transform doc:name="Pass code" doc:id="efe56c40-4e85-46ff-9bcc-68e923e58357" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Get flights" doc:id="84cbf9a0-2c90-46b3-8483-d93cf1609ef6" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="a617336f-e26b-484a-a51d-9d3f5d01b8c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3557e16b-ed70-4210-b695-ae37a74ede37" />
	</flow>
</mule>
